* {
    box-sizing: border-box;
}

body {
    background-color: #20202D;
    margin:0;
    font-family: 'Roboto', sans-serif;
    
}

h3.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    margin-top: 64px;
}

.hero {
    padding-top: 50px;
}

.container {
    max-width: 950px;
    margin: auto;
}

.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-link {
    margin-left: 20px;
}

.social-link:first-child {
    margin-left: 0px;
}

.hero-content {
    padding: 104px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    width: 422 px;
}

.hero-subtitle {
    font-size: 24px;
    line-height: 28px;
    color: #FFBB01;
    display: block;
}

.title {
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
    margin: 14px 0;
}

.text {
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 38px;
    max-width: 420px;
}

.button {
    background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
    box-shadow: 0px 4px 0px #B68500;
    border-radius: 5px 5px 10px 10px;
    text-transform: uppercase;
    padding: 24px 30px;
    font-weight: 700;
    border: none;
}

.hero-avatar {
    width: 389.91px;
    height: 389px;
    background: white;
    border-radius: 50%;
    background-image: url('../img/avatar.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 390px 420px;
    border: white 5px solid;
}

/*features*/
.features-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
    margin-top: 20px;
}

.storage-block {
    width: 288px;
    margin-top: 64px;
}

.feature-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.feature-text {
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

/*footer*/
.contacts-block {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.form {
    padding: 40px 48px 50px;
    background: white;
    max-width: 380px;
    box-shadow: -5px 5px 0px #FFC41D;
    border-radius: 5px;
    margin-top: 95px;
}

.form-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    margin: 29px 0;
    width: 100%;
}

.input {
    padding:18px 0px 18px 50px;
    width: 100%;
    background: #F8F8F8;
    box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
    border-radius: 5px;
    border:none;
}

.input-name{
    margin-bottom:17px;
    background-image: url('../img/form/user-icon.svg');
    background-repeat: no-repeat;
    background-position: center left 15px;

}

.input-phone {
    margin-bottom:25px;
    background-image: url('../img/form/phone-icon.svg');
    background-repeat: no-repeat;
    background-position: center left 15px;
}

.form-button {
    width: 100%;
}

/*contacts*/

.contacts-text {
    width: 358px;
}

.contacts-data {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.contact-item {
    flex-basis: 50%;
}

.contact-item-social {
    flex-basis: 100%;
}

.contact-item-social:first-child{
    margin-right: 0;
}

.contacts-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.contacts-link {
    font-size: 16px;
    line-height: 19px;
    color:  #FFFFFF;
    text-decoration: none;
    margin: 0;
    margin-right: 25px;
}

.contacts-link:hover {
    text-decoration: underline;
}

.policy-link {
    display: inline-block;
    margin-top: 72px;
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #A5A5A5;
}
